mixin pagination() 
    .pagination 
        button.pagination__load__more(data-load-more-posts="math" data-load-more-posts-page="1" data-load-more-posts-page-size="4" data-load-more-posts-endpoint="http://localhost:3000/posts")
            <span> Carregar mais <i class="fa fa-angle-down" aria-hidden="true"></i></span>
        