extends ../../components/Layout/index

block content
    section.banner
        img(src="../../assets/images/banner/img-banner-funcionalidades-granito.jpg").banner__image
        .container 
            .row
                .products__system
                    .products__system__content 
                        .products__system__content__category 
                            | Porque escolher a granito?
                        .products__system__content__title 
                            | Funcionalidades
                        .products__system__content__text 
                            | Lorem ipsum dolor sit amet, consecte-<br/>
                            | tur adipiscing elit. Curabitur et aliquet ex<br/>
                            | Praesent vitae scelerisque neque. 
                        a.button(href="#") Fale Conosco

    .solutions.__functions.__mask__bottom
        .container 
            .row   
                .solutions__solution.__active
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-multicliente.png")
                    .solutions__solution__title
                        a(href="scenes/Solution") 
                            | Multi <br/>
                            | <b> Cliente </b>
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-divisao-vendas.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Divisão <br/>
                            | <b> de vendas </b>
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-recorrente.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Recorrente <br/>
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-integrada.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Integrada
                .solutions__solution
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-taxas-portador.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Taxas & <br/>
                            | <b> ao portador </b>
                .solutions__solution(style="margin-bottom: 0px;") 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-personalizacao.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Personalização 
                .solutions__solution(style="margin-bottom: 0px;") 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-antecipacao.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Antecipação
                .solutions__solution(style="margin-bottom: 0px;") 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-conciliacao.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Conciliação
                .solutions__solution(style="margin-bottom: 0px;") 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-offline.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Offline
                .solutions__solution(style="margin-bottom: 0px;") 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/img-bg-portal-web.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | Portal <br/>
                            | <b> web </b>

    section.products__system.__gray(style="height: 760px;padding-top: 100px;").__mask__bottom
        .container 
            .row
                .products__system__content 
                    .products__system__content__category 
                        | Cadastros multiplos
                    .products__system__content__title 
                        | Multicliente
                    .products__system__content__text 
                        | As máquinas de cartão da Granito podem <br/>
                        | ser compartilhadas entre até 10 empresas <br/>
                        | ou profissionais autônomos diferentes. <br/> 
                        | <br/>
                        | A experiência de cada usuário é única e in- <br/>
                        | dividual, os pagamentos ocorrem direta- <br/>
                        | mente na conta de cada um garantindo <br/>
                        | total autonomia, inclusive no Portal Granito <br/>
                        | onde é possível realizar consultas <br/>
                        | e qualquer tipo de serviço ou configuração. 
                    a.button(href="#") Com o multicliente você garante  ››
                .products__system__items 
                    .products__system__items__item 
                        img(src="../../assets/images/item01-economia.png")
                        h3 
                            | <span> Economia </span> com a compra de uma única <br/> máquina de cartão. 
                    .products__system__items__item 
                        img(src="../../assets/images/item02-controle-individual.png")
                        h3 
                            | <span> Controle individual </span> dos valores. 
                    .products__system__items__item 
                        img(src="../../assets/images/item03-fim-retrabalho.png")
                        h3 
                            | <span> Fim do retrabalho, </span> sem o repasse de va- <br/> lores entre as pessoas. 

