header.header.__blog
    .container
        .header__logo
            a(href="#" alt="Granito Blog" title="Granito Blog")
                h1 Granito<span>Blog</span>

        .header__search 
            form 
                input(type="search" placeholder="")
                button(type="submit")

        nav.header__nav
            ul 
                li.__has-submenu
                    a(href="#") Assuntos
                    ul.__submenu
                        li 
                            a(href="#") Marketing
                        li 
                            a(href="#") Vendas
                        li 
                            a(href="#") Finanças
                        li 
                            a(href="#") Planejamento e Negócio
                        li 
                            a(href="#") Abrindo seu Negócio
                        li 
                            a(href="#") Recursos Humanos
                        li 
                            a(href="#") Legislação Fiscal

        a(href="#" data-form).button Receba nossas dicas

        .header__menu__mobile 
            img(src="../../assets/images/icons/icon-menu.svg")

            