.newsletter.__arrow-divisor
    .container
        .newsletter__info 
            h2.newsletter__info__title
                | Dicas de gestão para <b> você realizar </b>
            p.newsletter__info__text 
                | Obtenha conhecimento e inspiração para criar um negócio lucrativo. <br>
                | Toda semana, na sua caixa de entrada.
        .newsletter__form 
            input(type="email" placeholder="E-mail")
            button.button(type="submit") Receba nossas dicas