extends ../../components/Layout/index

block content
    section.banner
        img(src="../../assets/images/banner/img-banner-atendimento-granito.jpg").banner__image
        .container 
            .row
                .products__system
                    .products__system__content 
                        .products__system__content__category 
                            | Dúvidas e Suporte
                        .products__system__content__title 
                            |  Atendimento 
                        .products__system__content__text 
                            | Lorem ipsum dolor sit amet, consecte-<br/>
                            | tur adipiscing elit. Curabitur et aliquet ex<br/>
                            | Praesent vitae scelerisque neque. 

    section.products__system.__support.__mask__bottom
        .container 
            .row
                .products__system__content 
                    .products__system__content__category 
                        | Com a granito você só ganha!
                    .products__system__content__title 
                        |  Fale conosco <br/>
                        | pelos nossos <br/>
                        | canais <br/>
                        | comerciais
                .products__system__support
                    .products__system__support__item
                        .products__system__support__item__thumb
                            img(src="../../assets/images/item01-chat-granito.png")
                        .products__system__support__item__text 
                            | Chat
                    .products__system__support__item
                        .products__system__support__item__thumb
                            img(src="../../assets/images/item02-messenger-granito.png")
                        .products__system__support__item__text 
                            | Messenger
                    .products__system__support__item
                        .products__system__support__item__thumb
                            img(src="../../assets/images/item03-fone-granito.png")
                        .products__system__support__item__text 
                            | Telefone

    section.support__contacts(style="padding-bottom: 100px;")
        .container 
            .row 
                .support__contact 
                    .support__contact__title 
                        h5 Comercial
                        h2 Vendas
                    .support__contact__contacts 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-atendimento-branco.png")
                            .support__contact__contacts__contact__item 
                                | vendas@granito.com.vc 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-phone-branco.png")
                            .support__contact__contacts__contact__item 
                                | 0800 940 3029 <br/>
                                span Capitais e Reg. Metropolitanas 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-horario-branco.png")
                            .support__contact__contacts__contact__item 
                                | Segunda à Sábado <br/>
                                | 08h às 18h
                .support__contact 
                    .support__contact__title 
                        h5 Fale conosco
                        h2 Suporte Técnico
                    .support__contact__contacts 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-atendimento-branco.png")
                            .support__contact__contacts__contact__item 
                                | atendimento@granito.com.vc 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-phone-branco.png")
                            .support__contact__contacts__contact__item 
                                | 0800 940 3029 <br/>
                                span Capitais e Reg. Metropolitanas 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-horario-branco.png")
                            .support__contact__contacts__contact__item 
                                | Segunda à Sábado <br/>
                                | 08h às 21h
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-horario-branco.png")
                            .support__contact__contacts__contact__item 
                                | Domingos e Feriados <br/>
                                | 10h às 18h
                .support__contact 
                    .support__contact__title 
                        h5 Granito
                        h2 Trabalhe conosco
                    .support__contact__contacts 
                        .support__contact__contacts__contact 
                            .support__contact__contacts__contact__icon 
                                img(src="../../assets/images/icons/icon-atendimento-branco.png")
                            .support__contact__contacts__contact__item 
                                | trabalhenagranito@granito.com.vc

    //- section.products__system.__faq.__mask__top.__inverse-mask-top.__mask__bottom
    //-     .container 
    //-         .row
    //-             .products__system__content 
    //-                 .products__system__content__category 
    //-                     | Ainda tem dúvidas?
    //-                 .products__system__content__title 
    //-                     | Perguntas <br/>
    //-                     | Frequentes 
    //-             .products__system__faq
    //-                 .products__system__faq__question.__open
    //-                     .products__system__faq__question__title 
    //-                         | Quais os modelos de máquina?
    //-                     .products__system__faq__question__text 
    //-                         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien fringilla, vehicula nunc vulputate, aliquet nisi. Phasellus imperdiet, ipsum in dapibus cursus, diam mauris aliquam augue, sit amet molestie mi libero eu ligula. Praesent euismod aliquam nisi, ac sagittis augue laoreet at. 
      
    //-                 .products__system__faq__question 
    //-                     .products__system__faq__question__title 
    //-                         | Como habilitar as badeiras Visa e Mastercard ?
    //-                     .products__system__faq__question__text 
    //-                         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien fringilla, vehicula nunc vulputate, aliquet nisi. Phasellus imperdiet, ipsum in dapibus cursus, diam mauris aliquam augue, sit amet molestie mi libero eu ligula. Praesent euismod aliquam nisi, ac sagittis augue laoreet at. 
      
    //-                 .products__system__faq__question 
    //-                     .products__system__faq__question__title 
    //-                         | Como ver o modelo e o tipo de aluguel da máquina no portal?
    //-                     .products__system__faq__question__text 
    //-                         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien fringilla, vehicula nunc vulputate, aliquet nisi. Phasellus imperdiet, ipsum in dapibus cursus, diam mauris aliquam augue, sit amet molestie mi libero eu ligula. Praesent euismod aliquam nisi, ac sagittis augue laoreet at. 
      
    //-                 .products__system__faq__question 
    //-                     .products__system__faq__question__title 
    //-                         | Quais os modelos de máquina?
    //-                     .products__system__faq__question__text 
    //-                         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien fringilla, vehicula nunc vulputate, aliquet nisi. Phasellus imperdiet, ipsum in dapibus cursus, diam mauris aliquam augue, sit amet molestie mi libero eu ligula. Praesent euismod aliquam nisi, ac sagittis augue laoreet at. 
      
    //-                 .products__system__faq__question 
    //-                     .products__system__faq__question__title 
    //-                         | Quais os modelos de máquina?
    //-                     .products__system__faq__question__text 
    //-                         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sapien fringilla, vehicula nunc vulputate, aliquet nisi. Phasellus imperdiet, ipsum in dapibus cursus, diam mauris aliquam augue, sit amet molestie mi libero eu ligula. Praesent euismod aliquam nisi, ac sagittis augue laoreet at. 
      

