.items
    .container 
        .row 
            .item.col-12.col-md-4
                .item__image 
                    img(src="http://placehold.it/90x90/ccc")
                .item__text 
                    p Tem pouco espaço no balcão ou até mesmo nem tem balcão, é um serviço móvel.

            .item.col-12.col-md-4
                .item__image 
                    img(src="http://placehold.it/90x90/ccc")
                .item__text 
                    p Tem pouco espaço no balcão ou até mesmo nem tem balcão, é um serviço móvel.

            .item.col-12.col-md-4
                .item__image 
                    img(src="http://placehold.it/90x90/ccc")
                .item__text 
                    p Tem pouco espaço no balcão ou até mesmo nem tem balcão, é um serviço móvel.
