extends ../../components/Layout/index

block content
    section.banner
        img(src="../../assets/images/banner/img-banner-quemsomos-granito.jpg").banner__image
        .container 
            .row
                .products__system
                    .products__system__content 
                        .products__system__content__category 
                            | Sobre nós
                        .products__system__content__title 
                            |  A Granito
                        .products__system__content__text 
                            | Lorem ipsum dolor sit amet, consecte-<br/>
                            | tur adipiscing elit. Curabitur et aliquet ex<br/>
                            | Praesent vitae scelerisque neque. 

    section.about__solutions.__mask__bottom
        .container 
            .row  
                .about__solutions__items
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item01-bandeiras.jpg")
                        .about__solution__desc 
                            .about__solution__desc__title 
                                | +6 
                            .about__solution__desc__text 
                                | bandeiras <br/>
                                | disponíveis
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item02-parceiros.jpg")
                        .about__solution__desc
                            .about__solution__desc__title
                                | +22
                            .about__solution__desc__text
                                | parceiros <br/>
                                | cadastrados
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item03-usuarios.jpg")
                        .about__solution__desc
                            .about__solution__desc__title
                                | +6 
                            .about__solution__desc__text
                                | mil usuários <br/>
                                | cadastrados
                .about__solutions__items
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item04-maquinas.jpg")
                        .about__solution__desc
                            .about__solution__desc__title
                                | +20
                            .about__solution__desc__text
                                | mil máquinas <br/>
                                | vendidas
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item05-empresas.jpg")
                        .about__solution__desc
                            .about__solution__desc__title
                                | +200 
                            .about__solution__desc__text
                                | empresas <br/>
                                | atendidas
                    .about__solution 
                        .about__solution__icon 
                            img(src="../../assets/images/icons/item06-visitas.jpg")
                        .about__solution__desc
                            .about__solution__desc__title
                                | +50
                            .about__solution__desc__text
                                | mil visitas <br/>
                                | mensais

    section.products__system.__about
        .container 
            .row
                .products__system__content 
                    .products__system__content__category 
                        | Sobre nós
                    .products__system__content__title 
                        | A Empresa
                    .products__system__content__text 
                        | Somos uma empresa brasileira e fomos a primeira <br/>
                        | companhia de recebimento por meio de transações <br/>
                        | eletrônicas com o propósito de entregar soluções <br/>
                        | customizadas com atendimento completo, simples <br/>
                        | e ágil aos nossos clientes.  <br/> <br/>
                        | Fundada em 2015, a Granito acredita que as necessidades <br/>
                        | dos nossos clientes direcionam o nosso negócio e que <br/>
                        | agregar continuamente serviços e facilidades ao simples <br/>
                        | processo de pagamento, pode torná-los mais competitivos <br/>
                        | e eficientes em seus negócios diariamente.  <br/> <br/>
                        | Entregamos o que prometemos e entregamos mais.  
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="../../assets/images/img-quem-somos-sobre-nos.jpg")

    section.more__possibilities.__mask__top.__inverse-mask-top.__mask__bottom
        .container
            .row 
                .more__possibilities__title 
                    h5 Maiores possibilidades 
                    h2 Bandeiras Granito
                .more__possibilities__brands 
                    .more__possibilities__brands__title 
                        | Bandeiras <br/>
                        | Nacionais <br/>
                        | e Internacionas 
                    .more__possibilities__brands__items 
                        .more__possibilities__brands__items__item 
                            img(src="../../assets/images/brands/brand-master.png")
                        .more__possibilities__brands__items__item 
                            img(src="../../assets/images/brands/brand-visa.png")
                        .more__possibilities__brands__items__item 
                            img(src="../../assets/images/brands/brand-hiper.png")
                        .more__possibilities__brands__items__item 
                            img(src="../../assets/images/brands/brand-american.png")
                        .more__possibilities__brands__items__item 
                            img(src="../../assets/images/brands/brand-elo.png")
                            
                .more__possibilities__brands 
                    .more__possibilities__brands__title 
                        | Bandeiras <br/>
                        | Regionais 
                    .more__possibilities__brands__items 
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/bnb_CLUB.png")
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/Bonocard.png")
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/RedeCon.png")
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/Personal-Card.jpg")
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/brand-itacard.png")
                        .more__possibilities__brands__items__item.__small 
                            img(src="../../assets/images/brands/CDC_Card_.png")
                        



