extends ../../components/Layout/index

block content
    section.banner
        img(src="../../assets/images/banner/img-banner-solucoes-granito.jpg").banner__image
        .container 
            .row
                .products__system
                    .products__system__content 
                        .products__system__content__category 
                            | Qual é o seu ramo?
                        .products__system__content__title 
                            | Soluções
                        .products__system__content__text 
                            | Lorem ipsum dolor sit amet, consecte-<br/>
                            | tur adipiscing elit. Curabitur et aliquet ex<br/>
                            | Praesent vitae scelerisque neque. 
                        a.button(href="#") Fale Conosco

    .solutions(style="height: 205px;padding: 0px;")
        .container 
            .row   
                .solutions__solution.__active
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-beleza.png")
                    .solutions__solution__title
                        a(href="scenes/Solution") 
                            | Beleza & <br/>
                            |  Estética
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-restaurante.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | bar & <br/>
                            |  restaurante
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-recorrente.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | recorrentes & <br/>
                            |  por assinatura
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-clinica.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | clínica & <br/>
                            | médica
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-industria.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | indústria & <br/>
                            | distribuidores
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-integrado.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | meios de pagamento <br/>
                            | integrado
                .solutions__solution 
                    .solutions__solution__image 
                        img(src="../../assets/images/icons/icon-solucoes-omni.png")
                    .solutions__solution__title 
                        a(href="scenes/Solution") 
                            | solução de pagamento <br/>
                            | omnichannel

    section.products__system.__start.__gray.__reverse.__solutions__bg
        .container 
            .row
                .products__system__content 
                    .products__system__content__title 
                        | Vantagens <br/>
                        | e facilidades 
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, consectetur <br/>
                        | adipiscing elit. Curabitur et aliquet ex.  <br/>
                        | Praesent vitae scelerisque amet, consecte- <br/>
                        | tur adipiscing elit. amet, consectetur adipi- <br/>
                        | scing elit. 
                    a.button(href="#") Saiba mais

