.pre__footer
    .container 
        .row 
            .pre__footer__machines            
                .pre__footer__machines__machine
                    img(src="../../assets/images/maquinas-granito-banner.png")
            .pre__footer__content 
                h2 Seja nosso parceiro <br/> e conheça as vantagens que <br/> só a <span> Granito </span> faz por você
                a.button(href="#") Conheça a Granito

footer.footer
    .footer__content 
        .container
            .row
                .footer__content__items 
                    .footer__content__items__item                        
                        h4.footer__content__items__item__title Sobre a Granito                    
                        ul.footer__content__items__item__list                              
                            li 
                                a(href="#") Quem somos 
                            li 
                                a(href="#") Acompanhe nosso blog
                            li 
                                a(href="#") Faça seu cadastro 
                            li 
                                a(href="#") Dúvidas frequentes

                    .footer__content__items__item                        
                        h4.footer__content__items__item__title Contato                   
                        ul.footer__content__items__item__list                              
                            li 
                                a(href="#") 
                                    img(src="../../assets/images/icons/icon-horario.png")
                                    | contato@granito.com.br 
                            li 
                                a(href="#") 
                                    img(src="../../assets/images/icons/icon-phone.png")
                                    | 0800 300 249
                        
                        ul.footer__content__items__item__social 
                            li.__facebook
                                a(href="https://www.facebook.com/maquinagranito/?modal=admin_todo_tour" target="__blank")
                                    i(class="fa fa-facebook")
                            li.__youtube
                                a(href="https://www.youtube.com/channel/UCpfqAHWX30Z8W2GqkhEQ32Q" target="__blank")
                                    i(class="fa fa-youtube-play")
                            li.__linkedin
                                a(href="https://www.linkedin.com/company/10875751/admin/updates/" target="__blank")
                                    i(class="fa fa-linkedin")
                            li.__instagram
                                a(href="https://www.instagram.com/granito_pagamentos/?hl=pt-br" target="__blank")
                                    i(class="fa fa-instagram")

                    .footer__content__items__item                        
                        h4.footer__content__items__item__title Matriz                  
                        ul.footer__content__items__item__list                              
                            li 
                                img(src="../../assets/images/icons/icon-map.png")
                                span Alameda Rio Negro, 500, Bloco B, Sala 1804 Bairro Alphaville Barueri-SP - CEP 06454-000

                    .footer__content__items__item                        
                        h4.footer__content__items__item__title Filial                  
                        ul.footer__content__items__item__list                              
                            li 
                                img(src="../../assets/images/icons/icon-map.png")
                                span Alphaville, Belo Horizonte, Brasília, Campinas, Goiânia, Imperatriz do Maranhão e Viçosa

    .footer__partners 
        .container 
            .row 
                .footer__partner 
                    a(href="#")
                        img(src="../../assets/images/brands/logo-bandeira-master.jpg")                                     
                .footer__partner 
                    a(href="#")
                        img(src="../../assets/images/brands/logo-bandeira-visa.jpg")                                     
                .footer__partner 
                    a(href="#")
                        img(src="../../assets/images/brands/logo-bandeira-elo.jpg")                                     
                .footer__partner 
                    a(href="#")
                        img(src="../../assets/images/brands/logo-bandeira-american-express.jpg")                                     
                .footer__partner 
                    a(href="#")
                        img(src="../../assets/images/brands/logo-bandeira-hipercard.jpg")                                     