extends ../../../../components/Layout/index

block content
    include ../../../../components/Banner/Banner/index
    section.products__system.__gray.__reverse(style="height: 600px;")
        .container 
            .row
                .products__system__content 
                    .products__system__content__category 
                        | Como funciona?
                    .products__system__content__title 
                        | Processos <br/>
                        | mais ágeis 
                    .products__system__content__text 
                        | Proin ut tempor felis, dapibus sagit- <br/>
                        | tis lorem. Nullam at massa ac <br/>
                        | cumsan, vulputate libero quis, <br/>
                        | congue lectus. Mauris lacinia lacus <br/>
                        |  et dui vehicula ornare.
 
                    a.button(href="#") Clique ao lado para ver o vídeo  ››
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="http://placehold.it/581x345/444")

    section.benefits 
        .container 
            .row 
                .benefits__title 
                    h5 Vantagens
                    h2 Veja as facilidades do <br/> nosso sistema
                .benefits__items 
                    .benefits__items__item 
                        .benefits__items__item__image 
                            img(src="http://placehold.it/91x83/ccc")
                        .benefits__items__item__content 
                            h6 
                                | Várias contas em um só lugar <br/>
                                | de maneira eficiente
                            p  
                                | Donec tincidunt justo a volutpat <br/>
                                | ornare. Mauris hendrerit libero eget <br/>
                                | ligula fermentum, in egestas eros <br/>
                                | mattis.
                    .benefits__items__item 
                        .benefits__items__item__image 
                            img(src="http://placehold.it/91x83/ccc")
                        .benefits__items__item__content 
                            h6 
                                | Várias contas em um só lugar <br/>
                                | de maneira eficiente
                            p  
                                | Donec tincidunt justo a volutpat <br/>
                                | ornare. Mauris hendrerit libero eget <br/>
                                | ligula fermentum, in egestas eros <br/>
                                | mattis.
                    .benefits__items__item 
                        .benefits__items__item__image 
                            img(src="http://placehold.it/91x83/ccc")
                        .benefits__items__item__content 
                            h6 
                                | Várias contas em um só lugar <br/>
                                | de maneira eficiente
                            p  
                                | Donec tincidunt justo a volutpat <br/>
                                | ornare. Mauris hendrerit libero eget <br/>
                                | ligula fermentum, in egestas eros <br/>
                                | mattis.
                    .benefits__items__item 
                        .benefits__items__item__image 
                            img(src="http://placehold.it/91x83/ccc")
                        .benefits__items__item__content 
                            h6 
                                | Várias contas em um só lugar <br/>
                                | de maneira eficiente
                            p  
                                | Donec tincidunt justo a volutpat <br/>
                                | ornare. Mauris hendrerit libero eget <br/>
                                | ligula fermentum, in egestas eros <br/>
                                | mattis.

    section.products__system 
        .container 
            .row 
                .products__system__content 
                    .products__system__content__category 
                        | Caso de sucesso
                    .products__system__content__title 
                        | Salão Maria Flor
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>
                        | Curabitur et aliquet ex. Praesent vitae scelerisque neque lorem <br/>
                        | ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et <br/>
                        | aliquet ex. Praesent vitae scelerisque neque. 
                    .products__system__content__items 
                        .products__system__content__items__item 
                            .products__system__content__items__item__image
                                img(src="http://placehold.it/180x180/333")
                            .products__system__content__items__item__desc 
                                | Agilidade <br/> nas vendas
                        .products__system__content__items__item 
                            .products__system__content__items__item__image
                                img(src="http://placehold.it/180x180/ccc")
                            .products__system__content__items__item__desc 
                                | maior controle <br/> de clientes
                        .products__system__content__items__item 
                            .products__system__content__items__item__image
                                img(src="http://placehold.it/180x180/999")
                            .products__system__content__items__item__desc 
                                | redução <br/> de custos
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="http://placehold.it/519x518/666")
