section.banner
    img.banner__image(src="../../assets/images/banner/img-banner01-granito.jpg")
    .container
        .row
            .products__system
                .products__system__content
                    .products__system__content__title
                        | A Pago <br/> 
                        | agora <br/> 
                        | é Granito! 
                    a.button(href="seja-parceiro") Seja nosso parceiro