extends ../../components/Layout/index

block content
    section.banner
        img(src="../../assets/images/banner/img-banner-produtos-granito.jpg").banner__image
        .container 
            .row
                .products__system
                    .products__system__content 
                        .products__system__content__category 
                            | Para vender e crescer
                        .products__system__content__title 
                            | Produtos
                        .products__system__content__text 
                            | Lorem ipsum dolor sit amet, consecte-<br/>
                            | tur adipiscing elit. Curabitur et aliquet ex<br/>
                            | Praesent vitae scelerisque neque. 

    section.products__system.__products.__gray(style="background-color: #f0f0f0;").__mask__bottom.__inverse-mask-bottom
        .container 
            .row
                .products__system__content 
                    .products__system__content__category 
                        | Vendas físicas
                    .products__system__content__title 
                        | Conheça <br/>
                        | nossos <br/>
                        | produtos 
                    .products__system__content__text 
                        | Selecione ao lado o sistema <br/> que combina com o seu <br/> negócio  ››
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="../../assets/images/machines-products.jpg")  

    section.products__system.__ecommerce
        .container 
            .row
                .products__system__content                     
                    .products__system__content__category 
                        | Vendas online
                    .products__system__content__title 
                        | E-commerce 
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, con- <br/>
                        | sectetur adipiscing elit. Curabitur <br/>
                        |  et aliquet e vitae scelerisque. 
                    a.button(href="#") Solicite a sua
                .products__system__carousel 
                    .products__system__carousel__item(style="width: 803px;") 
                        img(src="../../assets/images/ecommerce-products.jpg") 

    section.products__system.__mask__bottom.__mask__top.__inverse-mask-top(style="height: 647px;")
        .container 
            .row
                .products__system__content                     
                    .products__system__content__category 
                        | Para micro e pequenos negócios
                    .products__system__content__title 
                        | Granito <br/>
                        | de Bolso
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, <br/>
                        | consectetur adipiscing elit. <br/>
                        | Curabitur et aliquet ex.
                    a.button(href="#") Solicite a sua
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="../../assets/images/bolso-products.jpg")   
    section.products__system.__gray(style="background-color: #f4f4f4;").__mask__bottom.__inverse-mask-bottom
        .container 
            .row 
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="../../assets/images/tef-products.jpg")              
                .products__system__content                     
                    .products__system__content__category 
                        | Para médias e grandes empresas
                    .products__system__content__title 
                        | Granito TEF
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, con- <br/>
                        | sectetur adipiscing elit. Curabitur <br/>
                        |  et aliquet e vitae scelerisque. 
                    a.button(href="#") Solicite a sua

    section.products__system.__mask__bottom(style="height: 747px;padding-top: 100px;")
        .container 
            .row                  
                .products__system__content                     
                    .products__system__content__category 
                        | Para qualquer proposta
                    .products__system__content__title 
                        | Granito <br/>
                        | Completa
                    .products__system__content__text 
                        | Lorem ipsum dolor sit amet, con- <br/>
                        | sectetur adipiscing elit. Curabitur <br/>
                        |  et aliquet e vitae scelerisque. 
                    a.button(href="#") Solicite a sua                
                .products__system__carousel 
                    .products__system__carousel__item 
                        img(src="../../assets/images/completa-products.jpg")  

