section.products__system.__products
    .container 
        .row
            .products__system__content 
                .products__system__content__category 
                    | Vendas físicas
                .products__system__content__title 
                    | Conheça <br/>
                    | nossos <br/>
                    | produtos 
                .products__system__content__text 
                    | Selecione ao lado o sistema <br/> que combina com o seu <br/> negócio  ››
            .products__system__products
                .products__system__products__item
                    .products__system__products__item__thumb
                        img(src="http://placehold.it/169x260/ccc")
                    .products__system__products__item__text 
                        | Granito <br/>
                        | <span> Bolso </span>
                .products__system__products__item
                    .products__system__products__item__thumb
                        img(src="http://placehold.it/192x404/ccc")
                    .products__system__products__item__text 
                        | Granito <br/>
                        | <span> Completa </span>
                .products__system__products__item
                    .products__system__products__item__thumb
                        img(src="http://placehold.it/166x356/ccc")
                    .products__system__products__item__text 
                        | Granito <br/>
                        | <span> Tef </span>